body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
 header a{
     color: white!important;
 }

a {
    text-decoration: none;
}

*{
    padding: 0px;
    margin: 0px;
   
}

/* home page */

.first_div {
    width: 100%;
    height: 300px;
    background: linear-gradient(-12deg, black 50%, orange 30%);
    font-size: 100px;
    font-family: cursive;
}

.circle {
    height: 400px;
}

.circle div {
    margin: 3% 2%;
    float: left;
    width: 29%;
}

.circle li {
    list-style-type: none;
    width: 125px;
    height: 100px;
    border: 2px solid;
    border-radius: 100%;
    padding-top: 25px;
}

.circle a {
    color: black;
}

.circle p {
    font-family: system-ui;
}

