 header a{
     color: white!important;
 }

a {
    text-decoration: none!important;
}


/* services */
.services{
    
    color: white;
    background: rgb(124, 124, 124);
    font: weight 400px;
    font-size: 30px;
    text-align: left;
}
.h1{
    font-size: 0%;
}

@media only screen and (max-width: 1900px) {
    .websiteimg{
        font-size: 100px;
        height: 300px;
    }
}



/* home page */

@media only screen and (max-width: 1900px) {
    .banner{
        font-size: 100px;
        height: 300px;
    }
}
@media only screen and (max-width: 800px) {
    .banner{
        font-size: 40px;
        height: 100px;
    }
}


.circle{
    list-style-type: none;
    width: 125px;
    height: 125px;
    border-radius: 100%;
}


/*aboutus css*/

.block-header {
    text-align: center;
  }
  
  .block-heading {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .block-subheading {
    margin-top: 0;
    margin-bottom: 70px;
   
    @media (min-width: 1100px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
  
    @media (max-width: 1000px){
        font-size: 1.125rem;
        line-height: 1.44;
        font-weight: 500;
    }
  }
  
  .me-md-3 {
    margin-right: 1rem!important;
    margin-left: 1rem!important;
}

#name
{
    margin-left: 10px;
}

/* contact us page */
iframe
{
    border-radius: 20px;
}
.btn-warning 
{
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

