body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header {
    background: blue;
    height: 30px;
    color: #fff;
}

header .logo {
    width: 100px;
    text-transform: uppercase;
    float: left;
    margin: 5px;
}

a {
    text-decoration: none;
}
header a {
    color: #fff;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    float: left;
    margin: 5px;
    padding: 2px;
    font-size: 12px;
}

header .auth-menu {
    float: right;
}



/*aboutus css*/
section{
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
    font-weight:800;
    font-size: 50px;
    font-family: 'PT Serif', serif;
    text-align: center;
    
}

.aboutimg{
    width: 18%;
    float: left;
    margin: 20px;
    margin-left: 200px;
}

.abouttxt{
    background-color: rgb(198, 213, 241);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,107,9,1) 43%, rgba(0,212,255,1) 100%);
    font-size: 18px;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
    text-shadow: crimson;
    margin-left: 0%;
    padding-top: 100px;
    height: 320px;
}

.list_css{
    background-color: rgb(36, 34, 44);
    background: rgb(34,36,0);
    background: linear-gradient(90deg, rgba(34,36,0,1) 0%, rgba(9,121,110,1) 77%, rgba(46,0,255,1) 93%);
    text-align:left;
    font-weight: 800;
    padding: 15px;
    padding-left: 300px;
}