body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header {
    background: blue;
    height: 30px;
    color: #fff;
}

header .logo {
    width: 100px;
    text-transform: uppercase;
    float: left;
    margin: 5px;
}

a {
    text-decoration: none;
}
header a {
    color: #fff;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    float: left;
    margin: 5px;
    padding: 2px;
    font-size: 12px;
}

header .auth-menu 
{
    float: right;
}

header .auth-menu {
    float: right;
}
.h1 {
    margin: 5%;
}
.websiteimg{
    padding: 5px;
       font: left;
       height: 200px;
       width: 400px;
    
}
.website{
    
    padding:20px;
  
}
.appsimg{
    font: left;
       height: 200px;
     
       width: 400px
}
.apps{
    height: auto;
    padding:20px;

}
.seoimg{
    margin-left: 0%;
    font: left;
       height: 200px;
       width: 400px
}
.seo{
    height: auto;
    padding:20px;
}








body section div img{
    width: 1215px;
    height: 300px;
}

.circle{
    height: 400px;
    margin-left: 130px;
}

.circle div{
    text-align: center;
    float: left;
    width: 300px;
}

.circle li{
    list-style-type: none;
    width: 125px;
    height: 100px;
    border: 2px solid;
    border-radius: 98px;
    margin: 90px;
    margin-bottom: 10px;
    padding-top: 25px;
}

.circle a{
    color: black;
}

.circle1 a{
    color :blue
}


/*aboutus css*/
.about_us{
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
    font-weight:800;
    font-size: 50px;
    font-family: 'PT Serif', serif;
    text-align: center;
    
}

.aboutimg{
    width: 18%;
    float: left;
    margin: 20px;
    margin-left: 200px;
}

.abouttxt{
    background-color: rgb(198, 213, 241);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,107,9,1) 43%, rgba(0,212,255,1) 100%);
    font-size: 18px;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
    text-shadow: crimson;
    margin-left: 0%;
    padding-top: 100px;
    height: 320px;
}

.list_css{
    background-color: rgb(36, 34, 44);
    background: rgb(34,36,0);
    background: linear-gradient(90deg, rgba(34,36,0,1) 0%, rgba(9,121,110,1) 77%, rgba(46,0,255,1) 93%);
    text-align:left;
    font-weight: 800;
    padding: 15px;
    padding-left: 300px;
}
#name
{
    margin-left: 10px;
}

/* contact us tab */

section1
{
width:90%;
margin: 43px 16px ;
display: grid;
grid-template-rows: 333px  ;
grid-template-columns: 532px repeat(2,1fr);
grid-gap: 20px;
}
.div1 img
{
height: 333px;
width: 532px;
} 
.div2
{
    background: linear-gradient(118deg, skyblue, grey);
}
.div3{background: linear-gradient(109deg, brown 10%, black 99%);}
section2
{
    background: linear-gradient(164deg, black, gray,black,gray,black,gray);
    text-align: center;
    display: block;
    
}
form
{
   padding: 10px; 
   color:white;
}
 
