 header a{
     color: white!important;
 }

a {
    text-decoration: none!important;
}

*{
    padding: 0px;
    margin: 0px;
   
}


/* services */
.services{
    
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
    font-weight:800;
    font-size: 50px;
    font-family: 'PT Serif', serif;
    text-align: center;
}
@media only screen and (max-width: 1900px) {
    .websiteimg{
        font-size: 100px;
        height: 300px;
    }
}



/* home page */

@media only screen and (max-width: 1900px) {
    .banner{
        font-size: 100px;
        height: 300px;
    }
}
@media only screen and (max-width: 800px) {
    .banner{
        font-size: 40px;
        height: 100px;
    }
}


.circle{
    list-style-type: none;
    width: 125px;
    height: 125px;
    border: 2px solid;
    border-radius: 100%;
    padding-top: 25px;
}

